{{- /* Go Template */ -}}
[edit]
    command = "code"
    args = ["--wait"]

[diff]
    command = "delta"
    pager = "delta"

[[textconv]]
    pattern = "**/*.plist"
    command = "plutil"
    args = ["-convert", "xml1", "-o", "-", "-"]

[data]
    {{ if eq .chezmoi.username "tkirschstein" -}}
    git_email = "tobias.kirschstein@sony.com"
    {{- else -}}
    git_email = "mail@lev.geek.nz"
    {{- end -}}
