{{- /* Go Template */ -}}
#!/bin/bash

pip install {{ range .packages.pip.all }} {{ . }}{{ end }}

{{ if eq .chezmoi.os "linux" -}}
pip install {{ range .packages.pip.linux }} {{ . }}{{ end }}
{{ end -}}