{{- /* Go Template */ -}}
#!/usr/bin/env fish

{{ range .packages.asdf.plugins -}}
asdf plugin add {{ . }}
{{ end -}}

{{ range .packages.asdf.tools -}}
asdf install {{ .name }} {{ .version }}
asdf set -u {{ .name }} {{ .version }}
{{ end -}}
