#!/usr/bin/env fish

fish_add_path --move ~/.asdf/shims
fish_add_path --move ~/bin
alias --save ls "ls --color=always"

{{ range .completions -}}
if type {{ . }} &> /dev/null
  test -f ~/.config/fish/completions/{{ . }}.fish || {{ . }} completion fish > ~/.config/fish/completions/{{ . }}.fish
end
{{ end -}}
