{{- /* Go Template */ -}}
{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# install Homebrew
bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# temporarily setup SHELL for homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"

export HOMEBREW_BUNDLE_NO_LOCK=1

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
