{{- /* Go Template */ -}}
{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

{{ $os_id := .chezmoi.osRelease.idLike -}}

{{ if eq $os_id "debian" -}}
sudo apt install --yes {{ range .packages.linux.apt }} {{ . }}{{ end }}
{{ else if eq $os_id "arch" -}}
sudo pacman -S --noconfirm --needed {{ range .packages.linux.pacman }} {{ . }}{{ end }}
{{ end -}}

# install asdf via github release
if [ type asdf &> /dev/null ] || [[ ! "$(asdf --version)" =~ {{ .packages.asdf.version }} ]]
then
    # delete old < 0.16 ~/.asdf
    [ -f ~/.asdf/bin/asdf ] && rm -rf ~/.asdf
    curl -sSLO https://github.com/asdf-vm/asdf/releases/download/v{{ .packages.asdf.version }}/asdf-v{{ .packages.asdf.version }}-linux-amd64.tar.gz &&
    tar xvzf asdf-v{{ .packages.asdf.version }}-linux-amd64.tar.gz &&
    sudo install -m 755 -o root -g root asdf /usr/local/bin/asdf &&
    rm asdf asdf-v{{ .packages.asdf.version }}-linux-amd64.tar.gz
fi
{{ end -}}
