{{- /* Go Template */ -}}
{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

sudo apt install --yes {{ range .packages.linux.apt }} {{ . }}{{ end }}

# install asdf via github release
if [ type asdf &> /dev/null ] || [[ ! "$(asdf --version)" =~ {{ .packages.asdf.version }} ]]
    curl -sSLO https://github.com/asdf-vm/asdf/releases/latest/download/asdf-v{{ .packages.asdf.version }}-linux-amd64.tar.gz &&
    tar xvzf asdf-v{{ .packages.asdf.version }}-linux-amd64.tar.gz &&
    sudo install -m 755 -o root -g root asdf /usr/local/bin/asdf
end

# install starship
curl -sSL https://starship.rs/install.sh | sh -s -- --yes >/dev/null
{{ end -}}
